.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .login {
        border: 1px solid var(--mainbd);
        border-radius: 20px;
        padding: 32px 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 500px;
        max-width: 100%;
        margin: 0px 12px;

        h1 {
            margin-bottom: 16px;
        }
        .input-group {
            width: 100%;
            flex-direction: column;
            padding: 12px 8px;
            border: 1px solid var(--mainbd);
            margin: 8px 0px;
            border-radius: 10px;
            position: relative;
            display: flex;
            flex-direction: row;
            &:focus-within {
                border: 1px solid #3cdfff;
                label {
                    color: #3cdfff;
                }
            }

            input {
                outline: none;
                font-size: 20px;
                flex: 1;
            }
            label {
                font-size: 14px;
                transform: translateY(-20px);
                position: absolute;
                top: 10px;
                padding: 0px 4px;
            }
            span {
                color: var(--maincl);
                width: 36px;
                text-align: center;
            }
        }
        p {
            color: rgb(245, 99, 99);
            visibility: hidden;
        }
        button {
            width: 100%;
            font-size: 20px;
            margin-top: 12px;
            padding: 8px;
            border-radius: 12px;
            background-color: rgba(69, 69, 244, 0.8);
            &:hover {
                background-color: rgba(69, 69, 244, 0.4);
            }
        }
    }
}
