.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
    padding-top: 0;
    margin-top: 80px;

    header {
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        right: 0;
        height: 64px;
        margin-bottom: 24px;
        border-bottom: 1.5px solid var(--mainbd);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 12px;
        .header-menu {
            i {
                font-size: 24px;
                padding: 12px 14px;
                background-color: rgba(255, 255, 255, 0.06);
                border-radius: 50%;
            }
        }
        .header-acount {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--mainbd);
            box-sizing: border-box;
            border-radius: 6px;
            padding: 4px;
            &:hover {
                background-color: black;
                h3 {
                    background-color: black;
                }
            }
            .name {
                h3 {
                    font-size: 16px;
                    padding: 0px 8px;
                }
            }
            img {
                width: 40px;
                height: 40px;
                border-radius: 25%;
                object-fit: cover;
                overflow: hidden;
            }
        }
    }
    .create-note {
        display: flex;
        flex-direction: column;
        width: 600px;
        max-width: 100%;
        border: 1.5px solid var(--mainbd);
        border-radius: 10px;
        padding: 4px;
        box-shadow: 0px 0px 10px black;
        position: relative;

        .add-image {
            position: absolute;
            top: -1px;
            right: -1px;
            padding: 8px;
            border: 1.5px solid var(--mainbd);
            border-radius: 0px 8px;
            display: none;

            &:hover {
                background-color: black;
                i {
                    background-color: black;
                    color: white;
                }
            }
            input {
                display: none;
            }
            i {
                color: var(--mainbd);
            }
        }
        input {
            width: 100%;
            padding: 8px;
            padding-right: 40px;
            outline: none;
            color: rgb(248, 121, 121);
            font-size: 22px;
        }
        .modify {
            display: none;
        }
    }
    .wrapper-note {
        margin-top: 32px;
        width: 600px;
        max-width: 100%;
        padding: 0px 12px;

        div {
            .note {
                width: 576px;
                max-width: 100%;
                border: 1.5px solid var(--mainbd);
                border-radius: 8px;
                padding: 8px;
                margin-bottom: 18px;
                transition: all 0.3s;
                position: relative;
                z-index: 1;

                .add-image {
                    position: absolute;
                    top: -1.5px;
                    right: -1.5px;
                    border: 1.5px solid var(--mainbd);
                    padding: 8px;
                    border-radius: 0px 8px;

                    &:hover {
                        background-color: black;
                        i {
                            background-color: black;
                            color: var(--maincl);
                        }
                    }
                    input {
                        display: none;
                    }
                    label {
                        i {
                            color: var(--mainbd);
                            font-size: 18px;
                        }
                    }
                }

                .note-title {
                    width: 100%;
                    padding: 8px;
                    font-size: 20px;
                    outline: none;
                    color: rgb(107, 107, 247);
                    padding-right: 32px;
                }
                button {
                    position: absolute;
                    top: -1.5px;
                    right: 42px;
                    color: var(--mainbg);
                    font-size: 16px;
                    padding: 8px;
                    border: 1.5px solid var(--mainbd);
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;

                    i {
                        color: var(--mainbd);
                        background-color: transparent;
                    }
                    &:hover {
                        background-color: black;
                        cursor: pointer;
                    }
                }
                .show-image {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    img {
                        height: 300px;
                        margin: 0 4px 8px 4px;
                        border-radius: 8px;
                    }
                }
            }
        }
    }
}
.action-popper {
    min-width: 80px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
    background-color: var(--mainbg);
    box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.5);
    position: relative;

    div {
        width: 100%;
        background-color: transparent;
        padding: 4px;
        position: relative;
        span {
            position: absolute;
            left: calc(100% + 20px);
            top: 0;
            background-color: rgba(255, 255, 255, 0.6);
            color: var(--mainbg);
            font-size: 24px;
            padding: 8px;
            border-radius: 8px;
            display: block;
            min-width: 200px;
            animation: showCoppy 1s linear;
        }
        @keyframes showCoppy {
            0% {
                opacity: 0;
                transform: translateX(0);
            }
            50% {
                opacity: 1;
                transform: translateX(0px);
            }
            100% {
                opacity: 0;
                transform: translateX(100px);
            }
        }
        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
}
.account-popper {
    width: 300px;
    right: 10px;
    top: 10px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
    animation: showAccount 0.3s;
    transition: all 0.3s;
    div {
        padding: 8px;
        font-size: 20px;
        display: flex;
        text-align: start;
        width: 100%;
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.1);

        img {
            width: 100px;
            height: 100px;
            border-radius: 100%;
            object-fit: cover;
            border: 1px solid var(--mainbd);
        }
        button {
            width: 100%;
            padding: 8px;
            font-size: 20px;
            border-radius: 18px;
            margin: 0px 20px;
            border: 1px solid var(--mainbd);

            &:hover {
                background-color: black;
            }
        }
    }
    .avatar {
        justify-content: center;
    }
    @keyframes showAccount {
        from {
            transform: translateX(500px);
            opacity: 0;
        }
        to {
            transform: translateX(0px);
            opacity: 1;
        }
    }
}
.menu-popper {
    width: 300px;
    border: 1px solid var(--mainbd);
    position: fixed;
    z-index: 5;
    top: -2px;
    left: -36px;
    bottom: 0;
    height: calc(100vh - 64px);
    padding: 8px;
    animation: showMenu 0.3s;
    .active {
        background-color: rgba(0, 0, 255, 0.2);
    }
    div {
        padding: 8px 24px;
        display: flex;
        align-items: center;
        border-radius: 20px;
        margin-bottom: 12px;

        &:hover {
            background-color: rgba(0, 0, 255, 0.2);
        }
        i {
            margin-right: 24px;
        }
        span {
            font-size: 18px;
            background-color: transparent;
        }
    }
    @keyframes showMenu {
        from {
            transform: translateX(-300px);
        }
        to {
            transform: translateX(0);
        }
    }
    .language {
        display: flex;
        justify-content: space-between;
        padding: 0;
        border-radius: 30px;
        overflow: hidden;
        .active {
            background-color: rgba(0, 0, 255, 0.2);
        }
        span {
            flex: 1;
            height: 100%;
            padding: 8px 24px;
            &:hover {
                background-color: rgba(0, 0, 255, 0.2);
            }
        }
        &:hover {
            background-color: var(--mainbg);
        }
    }
}
